<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	lang="en">

<head>

    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <title th:text="#{report.title}"></title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet"/>

    <!-- Custom CSS -->
    <link href="css/simple-sidebar.css" rel="stylesheet"/>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
                        <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a th:href="@{/user/home}" th:text="#{sidebar.tradecards}"></a>
                </li>
                <li>
                    <a th:href="@{/user/perfil}" th:text="#{sidebar.perfil}"></a>
                </li>
                <li>
                    <a th:href="@{/user/haveList}" th:text="#{sidebar.haveList}"></a>
                </li>
                <li>
                    <a th:href="@{/user/wantList}" th:text="#{sidebar.wantList}"></a>
                </li>
                <li>
                    <a th:href="@{/user/searchCard}" th:text="#{sidebar.searchCard}"></a>
                </li>
                <li>
                    <a th:href="@{/admin/manageCards}" th:text="#{sidebar.manageCards}"></a>
                </li>
                <li>
                    <a th:href="@{/admin/searchUsers}" th:text="#{sidebar.searchUsers}"></a>
                </li>
                <li>
                    <a th:href="@{/admin/generateReport}" th:text="#{sidebar.generateReport}"></a>
                </li>
                <li>
                    <a th:href="@{/international}" th:text="#{sidebar.international}"></a>
                </li>
                <li>
                    <a th:href="@{/logout}" th:text="#{sidebar.generateReport}"></a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div >
                        
            <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Menu</a>
        </div>

        <div id="page-content-wrapper">

            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 th:text="#{report.perfil}"></h1>
                        <div class="tab">
                          <button class="tablinks" onclick="openCity(event, 'Cards')" th:text="#{report.card}"></button>
                          <button class="tablinks" onclick="openCity(event, 'Users')" th:text="#{report.user}"></button>
                        </div>

                        <div id="Cards" class="tabcontent">
                          <h3 th:text="#{report.cardReport}"></h3>
                          <button th:text="#{report.pdf}"></button>
                        </div>

                        <div id="Users" class="tabcontent">
                          <h3 th:text="#{report.userReport}"></h3>
                          <button th:text="#{report.pdf}"></button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>

    <!-- Tabs -->
    <script>
    function openCity(evt, cityName) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(cityName).style.display = "block";
        evt.currentTarget.className += " active";
    }
    </script>

</body>

</html>
