<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	lang="en">

<head>

    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <title th:text="#{wantList.title}"></title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet"/>

    <!-- Custom CSS -->
    <link href="css/simple-sidebar.css" rel="stylesheet"/>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
                        <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a th:href="@{/user/home}" th:text="#{sidebar.tradecards}"></a>
                </li>
                <li>
                    <a th:href="@{/user/perfil}" th:text="#{sidebar.perfil}"></a>
                </li>
                <li>
                    <a th:href="@{/user/haveList}" th:text="#{sidebar.haveList}"></a>
                </li>
                <li>
                    <a th:href="@{/user/wantList}" th:text="#{sidebar.wantList}"></a>
                </li>
                <li>
                    <a th:href="@{/user/searchCard}" th:text="#{sidebar.searchCard}"></a>
                </li>
                <li>
                    <a th:href="@{/admin/manageCards}" th:text="#{sidebar.manageCards}"></a>
                </li>
                <li>
                    <a th:href="@{/admin/searchUsers}" th:text="#{sidebar.searchUsers}"></a>
                </li>
                <li>
                    <a th:href="@{/admin/generateReport}" th:text="#{sidebar.generateReport}"></a>
                </li>
                <li>
                    <a th:href="@{/international}" th:text="#{sidebar.international}"></a>
                </li>
                <li>
                    <a th:href="@{/logout}" th:text="#{sidebar.generateReport}"></a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div >
                        
            <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Menu</a>
        </div>

        <div id="page-content-wrapper">

            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 th:text="#{wantList.perfil}"></h1>
                        
                        <form id="searchbox" action="">
                            <input id="search" type="text" th:placeholder="#{wantList.search}"/>
                            <input id="submit" type="submit" th:text="#{wantList.add}"/>
                        </form>

                        <ul>
                            <li> Carta 01 <span class="glyphicon glyphicon-remove"></span></li> 
                            <li> Carta 02 <span class="glyphicon glyphicon-remove"></span></li> 
                            <li> Carta 03 <span class="glyphicon glyphicon-remove"></span></li>
                            <li> Carta 04 <span class="glyphicon glyphicon-remove"></span></li>
                            <li> Carta 05 <span class="glyphicon glyphicon-remove"></span></li>
                        </ul>
                        
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>

</body>

</html>
